<a href="https://colab.research.google.com/github/patriciatozi/analytics-training-python/blob/main/Treinamento_Analytics_Introdu%C3%A7%C3%A3o_%C3%A0_L%C3%B3gica_de_Programa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Linguagem de Programação Python**


- **Lógica de programação**

- **O que é Python?**
    - Como nasceu o Python
    - Casos de utilização
    - Curiosidades
    - Utilização de bibliotecas prontas (pandas)
    - Alguns exemplos
   

    
    
- **Como criar funções?**

# Lógica de Programação

A lógica de programação nada mais é do que um conjunto de **INSTRUÇÕES** a serem seguidas para o bom funcionamento do que chamamos de algoritmo, ou seja, uma sequência de regras finitas seguidas para se resolver algum problema.

Para ficar mais claro, basta pensar nos passos necessários para se **tomar um banho**:

-  Pegar a toalha e roupas;
-  Entrar no banheiro e fechar a porta;
- Tirar a roupa que está usando;
- Ligar o chuveiro e esperar a água ficar na temperatura certa;
- Entrar no box (ou espaço destinado para o banho);
- Se molhar, ensaboar, enxaguar = banho;
- Fechar o chuveiro;
- Pegar a toalha e se secar;
- Sair do box;
- Se vestir com a roupa limpa;
- Sair do banheiro.

## Outro exemplo: assar um pão

![alt text](https://profpanda.com.br/wp-content/uploads/fluxograma1.png)

#Como nasceu o Python?

Em 1990, foi criada a linguagem Python nos laboratórios do CWI (*Centrum Wiskunde & Informatica*, Centro de Matemática e Ciência da Computação) pelo matemático e programador holandês Guido van Rossum, uma linguagem de scripts para o Sistema Operacional Distribuído Amoeba.

![alt text](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpq78FHJVxqRxSV7Yn55j-jHip4b8mIz0TvCWmJlHo6AKzvZJk)

Foi originada a partir da linguagem ABC, focada para usuários físicos, engenheiros e linguistas. Sua simplicidade permite que seja utilizada por usuários leigos também.

## Guido van Rossum

![alt text](https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Guido_van_Rossum_OSCON_2006.jpg/220px-Guido_van_Rossum_OSCON_2006.jpg)

## Sobre a origem do nome:

O nome "Python" não é originário do réptil, como muitos imaginam. Na realidade, foi originado a partir do grupo humorístico britânico "Monty Python".

<div>
<img src="https://www.sbs.com.au/movies/sites/sbs.com.au.film/files/styles/full/public/montypython_headerpic.jpg?itok=hbividm9" width="400"/>
</div>

# Curiosidades

 ## Primeira imagem de um buraco negro
  
  ![alt text](https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Black_hole_-_Messier_87_crop_max_res.jpg/275px-Black_hole_-_Messier_87_crop_max_res.jpg)

## Estatísticas ligadas a Python
  ![alt text](https://miro.medium.com/max/1400/1*pahmNYi9cYJp9tnkygW5Cg.png)
  
  Fonte: https://insights.stackoverflow.com/trends?tags=javascript%2Cjava%2Cc%23%2Cphp%2Cpython%2Cruby

# O que são variáveis?

Variáveis são objetos que podem representar um **valor** ou **expressão**. São associadas a nomes geralmente.

## Tipos de variáveis (type):

  - string: **texto**
  - int/float: **número (inteiro/decimal)**
  - boolean: **boleano (falso/verdadeiro)**

In [1]:
string = "Isto é uma String" # A variável recebe como valor um texto

inteiro = 10                 # A variável recebe como valor um número inteiro

decimal = 3.5                # A variável recebe como valor um número decimal

boolean = True               # A variável recebe valor lógico verdadeiro

**Observação:** a expressão de uma variável do tipo string pode ser declarada com aspas simples (`'<variável_string>'`) ou com aspas duplas (`"<variavel_string>"`).

## Algumas operações matemáticas:

In [2]:
a = 10                     # A variável a recebe o valor inteiro 10.
b = 80                     # A variável b recebe o valor inteiro 80.

# A variável c recebe como valor inteiro a soma de a por b.
c = a+b

# A variável d recebe como valor inteiro a subtração de a por b.
d = a-b

# A variável d recebe como valor inteiro a multiplicação de a por b.
e = a*b

# A variável d recebe como valor inteiro a divisão de a por b.
f = a/b

Para saber o **valor** de c, escrevemos a seguinte linha de código:

In [3]:
c

90

Para descobrir o tipo de uma variável, escrevemos o seguinte comando:


```
type(<nome da variável>)
```
Portanto, para saber o tipo da variável c:

In [4]:
type(c)

int

Para testar, tente fazer a operação de soma entre as duas variáveis do tipo **string** a seguir:

`primeiro_nome = 'João'`

`segundo_nome = 'Maria'`

In [5]:
primeiro_nome = 'João '
segundo_nome = 'Maria'

In [6]:
concatenacao = primeiro_nome+segundo_nome

In [7]:
concatenacao

'João Maria'

## Concatenações:

Podemos concatenar 2 variáveis do tipo **string**, como por exemplo, para formar frases.

In [8]:
a = "Nahete "
b = "e "
c = "Robert"

d = a+b+c

In [9]:
d

'Nahete e Robert'

In [10]:
type(d)

str

## Alguns comandos:
  
 - **list**: cria uma "lista" de valores contidos em variáveis.
 - **print**: comando para mostrar o valor de alguma variável ou lista.

In [11]:
# Lista é criada com 3 elementos representando as bicicletas:
lista = ["Bicicleta1","Bicicleta2","Bicicleta3"]

# São mostradas bicicletas que compõem a lista:
print(lista)

['Bicicleta1', 'Bicicleta2', 'Bicicleta3']

In [12]:
lista

['Bicicleta1', 'Bicicleta2', 'Bicicleta3']

### E se quisermos saber a posição de um elemento na lista?

No caso, a posição inicial de uma lista em Python é 0. E, para identificar o elemento na posição 3 de uma lista, escrevemos da seguinte forma:



```
lista[2]
```

Portanto, para imprimir na saída qual o elemento na primeira posição da lista, escrevemos:

In [13]:
print(lista[0])

Bicicleta1

In [14]:
# É mostrado na ordem: valor da 'string', números inteiro e decimal, a lista de
# letras da variável 'string', e o valor lógico da variável 'boolean'.
print(string,inteiro,decimal,lista,boolean)

Isto é uma String 10 3.5 ['Bicicleta1', 'Bicicleta2', 'Bicicleta3'] True

# Estruturas Condicionais:
  
**SE** condição 1 verdadeira:

      Instruções condição 1
      
**SENÃO SE** condição 2 verdadeira:

      Instruções condição 2
...



**SENÃO**:

      Instruções condição n

## Como aplicar isso no python?

Em python, existe uma questão da **indentação**: após uma linha de estrutura condicional (if/elif/else) ou laço de repetição (que será visto no tópico a seguir) é nessário que a linha abaixo tenha um recuo de **4 espaços simples**. Esse efeito pode ser realizado através de **1 tabulação** também, basta apertar a tecla **Tab**.

In [15]:
"""

Exemplo 1: Verificar se a variável inteiro é igual a 10 ou não.

"""

# Lembrar que inteiro = 10.

# Quando estamos analisando uma condição, trata-se de uma comparação lógica e,
# por conta disso, cabe utilizar dois sinais de igualdade nesse caso.
if inteiro == 10:
  
  print('Sim')          # Imprime na saída 'Sim' caso inteiro seja igual a 10.
  
else:
  
  print('Não')          # Se inteiro não for igual a 10, imprime na tela 'Não'.

Sim

In [16]:
"""

Exemplo 2: Verificar se a variável decimal é menor que 3 ou 3,6.

"""

# Se a variável decimal for menor que 3, a condição é satisfeita.
if (decimal < 3.0):

  print('Sim')
  
# Senão se a variável decimal for menor que 3.6, a condição é satisfeita.
elif (decimal < 3.6):
  
  print('Sim ele é menor que 3.6')

# Senão (quando todas as outras condições não foram satisfeitas).
else:
  
  print('Nao é menor que nada')

Sim ele é menor que 3.6

### Exercício:
Faça uma estrutura condicional que verifique se o primeiro número é maior ou menor que o segundo número:

`primeiro_numero = 10`

`segundo_numero = 20`

## Algumas observações conceituais!

In [17]:
# Se a palavra 'String' estiver dentro da variável string, a condição 
# é satisfeita.
if 'String' in string:

  print('Sim')

Sim

# Laços de Repetição:


Algumas vezes, torna-se necessário repetir a mesma instruções várias vezes até que determinada situação seja
satisfeita. Para tanto, existem os laços de repetição, que podem ser do tipo:

 ## For (para):
 
 Nesse tipo de laço, uma variável chamada de **índice** recebe a cada execução das instruções contidas dentro do laço
 um elemento da lista que será percorrida.

In [18]:
string = "Isto é uma String"           # A variável recebe como valor um texto

# Lista é criada com cada letra que compõe a variável 'string':
lista_string = list(string)

# O índice i a cada execução imprime na saída o elemento que recebe da lista.
for letra in lista_string:
  
  print(letra)

I
s
t
o

é

u
m
a

S
t
r
i
n
g

## While (enquanto):

Nesse tipo de laço de repetição, são executadas as instruções até que uma variável atinja determinado valor. 


**Observação:** como existe a possibilidade da condição nunca ser satisfeita,  teríamos como resultado o que é
chamado de "loop infinito"!!

In [19]:
# Variável 'cont' recebe um valor de 0 inicial.
cont = 0

# Enquanto a variável for menor que 3, o laço é executado.
while (cont < 3):
  
  print('cont ainda é menor que 3.')
  
  # A cada execução, a variável é somada de um valor unitário.
  cont = cont + 1

cont ainda é menor que 3.
cont ainda é menor que 3.
cont ainda é menor que 3.

In [20]:
lista

['Bicicleta1', 'Bicicleta2', 'Bicicleta3']

## Break:

Trata-se de um comando utilizado quando é necessário finalizar o laço antes de se atingir determinada condição.

In [21]:
# O índice x a cada execução imprime na saída o elemento que recebe da lista.
for x in lista:
  
  print(x)
  
  # Se o índice x assumir o valor 'o', o laço é finalizado antes da lista ser
  # percorrida totalmente.
  if x == 'Bicicleta2':
    
    break

Bicicleta1
Bicicleta2

### Exercício:

Faça um programa que leia os elementos de uma lista e verifique se o seu nome está presente nela.

# Funções 

## Definição:

Uma função é um **bloco de execução** de instruções que é identificada a partir de um nome específico, recebe **parâmetros** de entrada e fornece um **retorno** de saída.



```
def nome_da_funcao(<variaveis_de_argumento>):

      Bloco de instruções
      
      return <variavel_de_retorno>
```



Primeiramente, precisamos **declarar a função**, para depois ser **chamada** em algum ponto dentro do programa que estamos desenvolvendo.

In [22]:
"""

Declaração da função.

"""

# Define-se a função 'soma_a_e_b' que recebe como parâmetros os valores das 
# variáveis a e b.
def soma_a_e_b(a,b):
  
  # A fução retorna a soma de a e b.
  soma = a+b
  
  return soma

**Observação:** é importante notar que todas as linhas abaixo da definição da função (onde tem a palavra `def`) estão indentadas.

In [23]:
"""

Aqui estamos chamando a função para ser utilizada.

"""

# Alguns pontos devem ser levados em consideração:
# - A variável soma recebe o retorno da função 'soma_a_e_b'
# - A função 'soma_a_e_b' recebe como parâmetros 1 no lugar de a e 2 
#   no lugar de b
soma = soma_a_e_b(1,2)

# Será mostrado na saída o valor da variável soma, sendo soma = 3.
print(soma)

3

### Exercício:

Crie uma função que receba como argumento a lista de itens de bicicleta e retorne a posição da  "Bicicleta3" na lista.

**Lembrar que:**


```
lista = ["Bicicleta1","Bicicleta2","Bicicleta3"]
```

# GRANDE DESAFIO!!

Faça uma função que receba como argumento o valor restante do saldo no seu vale refeição e a quantidade de dias úteis restantes no mês, e retorne o gasto diário disponível.

In [ ]:
def gasto_diario():
  
  return diario

# Bibliotecas:

Trata-se de um conjunto de funções armazenadas que executem automaticamente determinada função.


Algumas bibliotecas padrões são mais comuns de serem utilizadas. Dentre elas, temos a **numpy** e a **pandas**.

## Numpy

Trata-se de uma biblioteca que suporta arrays e matrizes multidimensionais, possuindo uma larga coleção de funções matemáticas para trabalhar com estas estruturas.

In [24]:
# Essa linha de código diz que estamos importando a biblioteca numpy para o
# ambiente do colab e toda vez que a utilizarmos, chamaremos por 'np'.
import numpy as np

# Essa função da biblioteca numpy cria uma lista de números inteiros que vai 
# de 0 a 9.
lista_numpy = np.arange(10)

In [25]:
# Imprimindo na saída a lista de números inteiros:
print(lista_numpy)

[0 1 2 3 4 5 6 7 8 9]

## Pandas:

Trata-se de uma biblioteca utilizada amplamente para **manipulação e análise de dados**, oferencendo estruturas de dados e operações para manipular tabelas numéricas e séries temporais.

Para importar a biblioteca para o ambiente do Collab, como por exemplo, podemos escrever da seguinte forma:

In [ ]:
# Essa linha de código diz que importamos a biblioteca pandas para o ambiente
# do colab e toda vez que formos utilizá-la, a chamaremos de 'pd'.
import pandas as pd

# Leitura de arquivos:

É possível importar bases de dados em diversos formatos (.csv, .xlsx, .db, etc.) dentro do colab e utilizar os dados
em uma estrutura que chamamos de **dataframe**, algo parecido com uma matriz mas cujas colunas têm nomes e podem conter dados de tipo diferente.

Antes de tudo, precisamos importar a planilha de Excel que será utilizada dentro desse notebook. Para tanto, vamos na aba 'Files' localizada no canto esquerdo da página, e clicamos em **UPLOAD**. Depois, é só importar o arquivo chamado ''`trips.xlsx`''. **Pronto!** Já é possível utilizar a planilha de dados.

Para ler os arquivos das bases de dados, existem algumas funções dentro da própria biblioteca pandas. No exemplo abaixo, importaremos a planilha do excel utilizando a função `read_excel`.

In [26]:
import pandas as pd

# Atribuindo um nome para a planilha do excel utilizada.
nome_do_arquivo = 'trips.xlsx'

# Utilizando a função read_excel do pandas para armazenar as informações da
# planilha em um dataframe, chamado de 'df'.
df = pd.read_excel(nome_do_arquivo)

**Observação:** caso seja um formato em outro arquivo, existem outras funções armazenadas da biblioteca pandas que fazendo a leitura do mesmo. Exemplo: trata-se de um arquivo em formato csv, podemos utilizar a função `read_csv`.

In [28]:
df.head(50)

    id  duration  start_date  ...  zip_code  birth_date  gender
0    1         9         NaN  ...    '97217      1976.0    Male
1    2       220         NaN  ...    '02215      1966.0    Male
2    3        56         NaN  ...    '02108      1943.0    Male
3    4        64         NaN  ...    '02116      1981.0  Female
4    5        12         NaN  ...    '97214      1983.0  Female
5    6        19         NaN  ...    '02021      1951.0    Male
6    7        24         NaN  ...    '02140      1971.0  Female
7    8         7         NaN  ...    '02140      1971.0  Female
8    9         8         NaN  ...    '97214      1983.0  Female
9   10      1108         NaN  ...    '01867      1994.0    Male
10  11      1055         NaN  ...    '01867      1956.0    Male
11  12      1042         NaN  ...    '01867      1959.0  Female
12  13       994         NaN  ...       NaN         NaN     NaN
13  14        15         NaN  ...    '02446      1982.0    Male
14  15       952         NaN  ...    '02128      1944.0    Male
15  16        32         NaN  ...    '02115      1960.0  Female
16  17      1261         NaN  ...    '02492      1975.0    Male
17  18         7         NaN  ...    '02446      1956.0    Male
18  19      1020         NaN  ...    '02118      1987.0  Female
19  20      1264         NaN  ...    '02139      1985.0  Female
20  21      1043         NaN  ...    '02351      1978.0    Male
21  22       969         NaN  ...    '02143      1971.0    Male
22  23      1582         NaN  ...    '02130      1980.0  Female
23  24       620         NaN  ...    '02474      1955.0  Female
24  25         7         NaN  ...    '02140      1971.0  Female
25  26       771         NaN  ...    '02108      1943.0    Male
26  27      1222         NaN  ...    '02143      1972.0  Female
27  28         4         NaN  ...    '01776      1949.0    Male
28  29         5         NaN  ...    '01880      1968.0    Male
29  30       824         NaN  ...    '02131      1967.0    Male
30  31       873         NaN  ...    '02115      1975.0  Female
31  32      1377         NaN  ...    '02446      1982.0    Male
32  33      1114         NaN  ...    '02144      1958.0    Male
33  34        16         NaN  ...    '02116      1976.0    Male
34  35      1655         NaN  ...    '02115      1960.0  Female
35  36      1953         NaN  ...    '02021      1951.0    Male
36  37      1989         NaN  ...    '02151      1987.0  Female
37  38      1015         NaN  ...    '02116      1981.0  Female
38  39       863         NaN  ...    '02127      1968.0    Male
39  40         6         NaN  ...    '02445      1958.0    Male
40  41       460         NaN  ...    '01880      1968.0    Male
41  42       724         NaN  ...    '02113      1973.0  Female
42  43      1624         NaN  ...    '01867      1994.0    Male
43  44       191         NaN  ...    '01876      1963.0  Female
44  45      1390         NaN  ...    '02114      1975.0    Male
45  46      1587         NaN  ...    '01867      1956.0    Male
46  47      1578         NaN  ...    '01867      1994.0  Female
47  48      2585         NaN  ...    '02492      1968.0    Male
48  49       899         NaN  ...    '01776      1949.0    Male
49  50       960         NaN  ...    '01742      1962.0    Male

[50 rows x 11 columns]